@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617;
  --foreground: #f8fafc;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
}
